<%
    var title       = 'タイトル！',
        description = 'description',
        keywords    = 'keywords';

    var og = {
        locale     : 'locale',
        type       : 'type',
        site_name  : 'size_name',
        title      : 'title',
        url        : 'url',
        description: 'description',
        image      : 'image'
    }

    var twitter = {
        card       : 'card',
        site       : 'site',
        title      : 'title',
        description: 'description',
        image      : 'image'
    }
%>
<% include common/_head %>
<% include common/_header %>
    <main>
        <h1>section1</h1>
        <section>
            <h2>section2</h2>
        </section>
    </main>
<% include common/_footer %>