<%
    var title       = 'サブタイトル！',
        description = 'subdescription',
        keywords    = 'subkeywords';

    var og = {
        locale     : 'sublocale',
        type       : 'subtype',
        site_name  : 'subsize_name',
        title      : 'subtitle',
        url        : 'suburl',
        description: 'subdescription',
        image      : 'subimage'
    }

    var twitter = {
        card       : 'subcard',
        site       : 'subsite',
        title      : 'subtitle',
        description: 'subdescription',
        image      : 'subimage'
    }
%>
<% include common/_head %>
<% include common/_header %>
    <main>
        <h1>subsection1</h1>
        <section>
            <h2>subsection2</h2>
        </section>
    </main>
<% include common/_footer %>